{% extends 'blog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <a class="btn btn-primary" role="button"
       href="{% url 'blog:create' %}">Создать блог</a>
    {% for Blog in object_list %}
    {% if Blog.published %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {% if Blog.imagery %}
                <img src="{{ product.imagery | media_filter }}">
                {% endif %}
            </div>
            <div class="card-body">
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:view' Blog.pk %}">Посмотреть</a>
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:edit' Blog.pk %}">Редактировать</a>
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:delete' Blog.pk %}">Удалить</a>
            </div>
        </div>

    </div>
     {% endif %}
    {% endfor %}
</div>
{% endblock %}